.canvas {
  width: 100vw;
  height: 100vh;
  // background-color: #ccc;
  // position: relative;
  // z-index: 0; 
  }


.ui-interface{
  width: 175px;
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.directional{
  position: absolute;
  left:0;
  bottom: 8em;
  z-index: 1;
}

.actions{
  position: absolute;
  right: 0;
  bottom: 8em;
  z-index: 1;
}

.square{
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  font-size: 34px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 1px 3px 1px black;
}

.full{
background-color: #ccc;
}

.full:hover{
  background-color: #fff;
}

.outline{
  color: #ccc;
  border: 3px #ccc solid;
}

.outline:hover{
  color: #fff;
  border: 3px #fff solid;
}



.row{
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;

}
