.profile-sign-in{
    width: 100vw;
    height: 100vh;
    background-color: #0f6;
    display: grid;
    grid-template-columns: 4em auto;
}

.profile-nav{
    display: grid;
    justify-content: center;
    align-content: start;
    background-color: pink;
}

.profile-nav a{
    text-align: center;
}

.profile-nav a:hover{
   color: #fff;
}

.profile-view-max{
    display: grid;
    place-items: center;
    padding: 1em;
}

.profile-view-panel-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-view-panel{
margin: 1em 0;
}

.profile-view-panel p{
   padding: 0;
   margin: 0;
}

.profile-view-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profile-view-buttons button{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.profile-content{
    height: auto;
    background-color: yellow;
}

.profile-content .featured-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #F77F00;
}

.featured-content .profile-xln-balance{
    width: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-content .asset-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D62828;
  padding: 0.25em 0;

}

.asset-items .asset{
    width: 150px;
    height: 150px;
    background-color: #0f6;
}

.profile-content .asset-items-poster{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25em 0;
    background-color: #0cf;
  }

.asset-items-poster .asset{
    width: 200px;
    height: 300px;
    background-color: #D62828;
}

.profile-content .asset-top-asset{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25em 0;
   background-color: #F77F00
}

.asset-top-asset .asset{
    width: 350px;
    height: 200px;
    background-color: #D62828;
}


.profile-view{
    width: 50%;
    height: 100%;
}

.profile-xln-balance{
    width: 50%;
    height: 100%;
}

.search-container{
    background-color: blue;

}