@import '../variables/colors';

.wallet-container{
    width: 100vw;
    height: auto;
    background: rgb(255,211,0);
    background: linear-gradient(90deg, #D62828 18%, #F77F00 53%, #FCBF49 86%);
    display: flex;
    justify-content: space-between;
}

.wallet-content{
    width: 100%;
    height: max-content;
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.wallet-content .util-form-layout{
    height: auto;
}

.adjust-setting{
    width: 250px;
    height: auto;
    display: grid;
    place-items: center;
    margin: 1em 0;
}

.adjust-setting img{
margin: 10px 0;
}

.adjust-setting a{
    width: 90%;
    height: 40px;
    text-align: center;
}

.wallet-content-setting{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.xln-links{
    z-index: 2;
    right: 0;
    position: absolute;
    width: 150px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 5px 3px 0 rgba( 31, 38, 135, 0.37 );
}


.xln-public{
    display: grid;
}

.xln-buy{
    display: grid;
}

.toggle-menu{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: grid;
    place-items: center;

}

.toggle-menu:hover{
    background-color: #e4e4e4;
}



.wallet-asset-panel{
    width: min-content;
    min-width: 50px;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}



.wallet-panel{
    width: min-content;
    min-width: 4%;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.wallet-main{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallet-tab{
    display: grid;
    place-content: center;
    width: 50px;

}

.wallet-tab:hover{
    border-right: 1px solid #000;
    background-color: rgba( 255, 255, 255, 0.4 );
    color: #fff;
}

.wallet-tab i{
    color: #333;
}

.wallet-user-properties{
    width: 300px;
    min-width: 300px;
    height: 500px;
    display: grid;
    place-items: center;
}

.wallet-user-properties:nth-child(2){
    padding: 2em 0;
}

.account-network{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.web-links{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.web-link a{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;

}

.wallet-profile{
    flex: 7;
    height: max-content;
    margin: 20px;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

.wallet-nav{
    width: 110px;
    height: 800px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

.main-wallet-btn{
    background-color: #D62828;
}

.wallet-nav a{
    width: 100%;
    height: 20px;
    display: grid;
    place-content: center;
    cursor: pointer;
    color: #000;
    list-style: none;
    border-radius: 0;
}

.wallet-nav a:hover{
    background-color: #000;
    color: #fff;
}


.wallet-asset-container{
    width: 100%;
    height: 500px;
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-asset{
    width: 300px;
    height: 410px;
    max-height: auto;
    background-color: $info;
    margin-bottom: 2em;
}

.user-asset .asset-stats{
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
}

.user-asset .wallet-asset-update {
    width: 100%;
    height: 50px;
    text-align: center;

}

.user-asset .wallet-tab{
    width: 70px;
    height: 30px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #fff;
}

.wallet-adjustment{
    padding-right: 10px;
}


.wallet-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: rgba(250,250,250,0.5); 
}

.wallet-footer-name{
    height: 110px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.wallet-footer-name h2{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
}

.wallet-footer-name i{
    width: 100%;
    height: 50px;
}

.wallet-footer-buttons{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.wallet-footer-buttons .icon{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.wallet-footer-buttons .icon:hover{
    color: #fff;
    background-color: rgba( 0, 0, 0, 0.7 );
}

.wallet-footer-buttons .btn,
.wallet-footer-buttons p{
    font-size: 13px;
}

.wallet-xln-logo{
    cursor: pointer;
}

.mint-asset-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center; 
}

.mint-asset-image{
    min-width: 600px;
    max-width: 1000px;
    display: grid;
    place-content: center;
}

.mint-asset-text{
    cursor: auto;
}

.buy-xln-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mint-asset-image{
    padding: 3em 0;
}

.buy-tokens-content h2{
    padding: 0;
}

.buy-tokens-content {
    padding: 1.5em;
}

.buy-xln-tokens{
    width: 700px;
}

.buy-xln-form{
    width: 20em;
}

.mint-asset-form{
    width: 100%;
    display: grid;
    place-content: center;
}

.create-asset-container{
    width: 100vw;
    height: 120vh;
    padding: 3em 0 10em 0;
    background-color: tomato;
    display: grid;
}

.create-asset{
}

.show-asset-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;   
}

.show-asset-media{
    padding: 1em;
}

.show-asset-media img{
    border-radius: 5px;
    overflow: hidden;
}

.show-asset-description{
    width: 600px;
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.show-asset-info{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.show-asset-info p{

}

.wallet-seed-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.wallet-seed-list{
    width: 90%;
    padding: 10px;
    margin: 0 0 2em 0;
    border: 2px solid #000;
    display: flex;
}

.wallet-seed-list .seed{
    width: 100px;
    height: 50px;
    background-color: #000;
    color: #ccc;
    text-align: center;
    margin: 0 5px
}


.wallet-seed-list button{
    width: 2em;
    height: min-content;
    margin: 10px 0;
    padding: 0 3em;
    color: #ccc;
    background-color: #000;
}

.wallet-swap-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.wallet-swap-admin button{
 width: 100px;
height: 30px;
background-color: #000;
outline: none;
border: none;
color: #ccc;
}

.wallet-swap-exchange{
    width: 80%;
    height: 500px;
    display: grid;
    place-content: center;
}

.wallet-swap-field{
    width: 400px;
    height: 55px;
    margin: 1em 0;
    padding: 1em 10px;
    background-color: #333;
    display: flex;   
}

.wallet-swap-btn{
    display: grid;
    place-content: center;
}

.wallet-swap-field input{
    width: 90%;
    text-align: center;
    color: #e9e9e9;
    background-color: #333;
    outline: none;
    border: none;
}

.wallet-swap-field .form-control-container{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #0cf;
}

.show-info{
    display: grid;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.show-info p{
    font-size: 13px;
}

.show-info:hover{
    background-color: #e9e9e9;
}

.show-asset-dependencies{
    width: 270px;
    height: 60px;
    padding: 0 15px;
    display: flex;
}

.show-asset-header{
    line-height: normal;
    height: 50px;

}

.show-asset-permission{
    width: max-content;
    height: 50px;
    padding: 0 15px;
}

.show-asset-price-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show-asset-price{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show-asset-buttons{
    width: 50%;
    margin: 10px 0;
}

.show-assets-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    background-color: #333;
}

.assets-btn{
    width: 16em;
    padding: 0.5em 1em;
}

.assets-spread{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.assets-spread a{
    padding: 0 1em;
    height: 50px;
}

.create-new-asset-btn{
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: yellow;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
}


.create-new-asset-btn:hover{
    color: #ff0;
    border: 2px solid #ff0;
    background-color: black;
}

.interactive-asset button{
  width: 250px;
  height: 50px;
}

.show-assets-list{
    height: 100vh;
    overflow: auto;
    padding: 1px 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}

.wallet-token-icon{
    width: 100%;
    height: 250px;
    display: grid;
    place-items: center;
}

.wallet-token-details{
    display: grid;
    place-items: center;
}

.wallet-edge{
    flex: 0.25;
    height: 100%;
    min-height: 100vh;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.wallet-token-details  h1, 
.wallet-token-details  h3, 
.wallet-token-details  p,
.wallet-token-details  a{
    margin: 0;
}

.test-template-funcs{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.test-func-group{
    width: 49.25vw;
    height: 600px;
    background-color: #0cf;
    display: grid;
    place-items: center;
    border: 0.05vw solid #000;
    margin: 8px 0;
}

.stats-container{
    width: 100%;
    background-color: #D62828;
    display: flex;
}

.stats-chart-container{
    background-color: #F77F00;
    flex: 0.7;
}

.stats-chart{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.stats-chart-price{
    margin: 0;
    padding: 0;
}

.stats-chart-price h1, p{
    margin: 0;
    padding: 0;
}

.stats-list-panel{
    background-color: #ff0;
    flex: 0.3;
}


.wallet-setting-selections{
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-bottom: 1px #ccc solid;
    display: flex;
}

.select-wallet-settings{
    text-align: center;
}

.select-wallet-settings a{
    font-size: 13px;
    padding: 1em 2em;
    color: #000;
    text-decoration: none;
}

.select-wallet-settings a:hover{
    text-decoration: underline;
}

.selected:nth-child(1){
    border-bottom: 5px solid #D62828;
}

.selected:nth-child(2){
    border-bottom: 5px solid gold;
}

.selected:nth-child(3){
    border-bottom: 5px solid blue;
}

.selected:nth-child(4){
    border-bottom: 5px solid #0f6;
}




.select-wallet-settings:hover{
    background-color: rgba( 0, 0, 0, 0.1 );
}

@media only screen and (max-width: 1012px) {

    .wallet-main{
        justify-content: center;
    }

}