.wallet-container{
    width: 100vw;
    height: auto;
    min-height: 90vh;
    padding: 15px 0;
    background: rgb(255,211,0);
    background: linear-gradient(90deg, #D62828 18%, #F77F00 53%, #FCBF49 86%);
    display: grid;
    place-content: center;
}

.wallet-content{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallet-content-setting{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.wallet-panel{
    width:50px;
    display: flex;
    align-items: center;
}

.wallet-tab{
    width: 100%;
}

.wallet-tab:hover{
    background-color: #333;
}

.wallet-tab i{
    color: #ccc;
}

.wallet-avatar{
    width: 300px;
    min-width: 300px;
    height: 450px;
    display: grid;
    place-items: center;
}

.wallet-user-properties{
    min-width: 300px;
    height: 450px;
    display: grid;
    place-items: center;
}

.account-network{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.web-links{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.web-link a{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;

}

.wallet-profile{
    width: 80vw;
    min-width: 600px;
    height: auto;
    background: rgba(255,255,255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.wallet-header{
    padding: 0 10px;
    font-size: 12px;
    background: rgba(250,250,250, 0.5);
    display: flex;
    justify-content: start;
}

.wallet-header a{
    margin: 0 10px;
}

.wallet-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: rgba(250,250,250,0.5); 
}

.wallet-footer-name{
    height: 110px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.wallet-footer-name h2{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
}

.wallet-footer-name i{
    width: 100%;
    height: 50px;
}

.wallet-footer-buttons{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.wallet-footer-buttons .btn,
.wallet-footer-buttons p{
    font-size: 13px;
}

.wallet-sign-in{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.wallet-xln-logo{
    cursor: pointer;
}

.mint-asset-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center; 
}

.mint-asset-image{
    display: grid;
    place-content: center;
}

.mint-asset-text{
    width: 100%;
    display: grid;
    place-content: center;
}

.buy-xln-container{
    width: 100vw;
    height: 100vh;
}

.buy-xln-form{
    width: 20em;
}

.mint-asset-form{
    width: 100%;
    display: grid;
    place-content: center;
}

.create-asset-container{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    display: grid;
}

.show-asset-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;   
}

.show-asset-media{
    padding: 1em;
}

.show-asset-media img{
    border-radius: 5px;
    overflow: hidden;
}

.show-asset-description{
    width: 600px;
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.show-info{
    display: grid;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.show-info p{
    font-size: 13px;
}

.show-info:hover{
    background-color: #e9e9e9;
}

.show-asset-dependencies{
    width: 270px;
    height: 60px;
    padding: 0 15px;
    display: flex;
}

.show-asset-header{
    line-height: normal;
    height: 50px;

}

.show-asset-permission{
    width: max-content;
    height: 50px;
    padding: 0 15px;
}

.show-asset-price-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show-asset-price{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show-asset-buttons{
    width: 50%;
    height: 100px;
    display: grid;
    grid-template-rows: 50px 50px;
    row-gap: 10px;
}

.show-assets-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

.create-new-asset-btn{
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: yellow;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
}


.create-new-asset-btn:hover{
    color: #ff0;
    border: 2px solid #ff0;
    background-color: black;
}

.show-assets-list{
    height: 100vh;
    overflow: auto;
    padding: 1px 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    position: relative;
    z-index: 0;
}

.wallet-token-icon{
    width: 100%;
    height: 250px;
    display: grid;
    place-items: center;
}

.wallet-token-details{
    display: grid;
    place-items: center;
}

.wallet-token-details  h1, 
.wallet-token-details  h3, 
.wallet-token-details  p,
.wallet-token-details  a{
    margin: 0;
}

.test-template-funcs{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.test-func-group{
    width: 49.25vw;
    height: 600px;
    background-color: #0cf;
    display: grid;
    place-items: center;
    border: 0.05vw solid #000;
    margin: 8px 0;
}