.audio_player {
    display: grid;
    width: 100vw;
    height: auto;
    background-color: #e4e4e4;
  }

.album_display_container{
  width: 100vw;
  height: 80vh;
  display: grid;
  place-content: center;
}

.album_display{
     width: 30em;
     height: 30em;
     padding: 10px;
     border-radius: 5px;
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.album_display_panel{
  width: 100vw;
  height: auto;
  background-color: blue;
  display: flex;
}
  
  .controls {
    width: 100%;
    height: 300px;

  }

  .track_slider{
    flex-grow: 4;
    width: 400px;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .slide_container{
    width: 80%;
  }

  .slide_container input{
    width: 100%;
  }

  .control_buttons{
    display: flex;
    justify-content: space-around;
  }

  .content-container{
    display: grid;
    place-content: center;
    grid-template-rows: 3em 2em 2em;
  }

.playlist-header{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
  }

  .playlist ul{
    margin: 0;
    padding: 0;
  }

  .playlist ul li{
    width: 96%;
    height: auto;
    margin: 1px 0;
    padding: 0 2%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,255,255), rgba(225,225,225), rgba(56,2,155,0));
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .playlist ol li:hover{
    background-color: #ccc;
  }

  .artist_details{
    width: 250px;
    height: 90px;
    color: #ccc;
    line-height: normal;
    padding: 10px;
  }

  .artist_details h4{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .ctrl_btn{
    width: 150px;
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .ctrl_btn button{
      width: 30px;
      height: 30px;
      background:rgba(250, 250, 250, 0);
      border-radius: 50%;
      border: none;
      cursor: pointer;
  }

  .main_ctrl button:nth-child(2){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none; 
    font-size: 18px;
    background-color: rgba(250, 250, 250, 0);
  }

  .ctrl_btn button:nth-child(2):hover{
    background-color: aqua;
  }
