@import '../variables/colors';

.xln-cta{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cta-text{
    max-width: 80vw;
    min-width: 430px;
    line-height: 4em;
}

.cta-text h1{
    font-size: 50px;
}

.cta-text a{
    font-size: 30px;
}

.cta-social-links{
width: 20em;
display: flex;
justify-content: space-between;
 margin: 3em 0;
 line-height: 2em;
}

.cta-image{
    width: 98vw;
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.xln-summary{
    width: auto;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
}

.summary-content{
    width: 80vw;
    height: auto;
}

.summary-content h4{
    font-size: 36px;
}

.summary-content a{
    font-size: 24px;
}

.xln-overview{
    width: auto;
}

.xln-blockchain{
    height: auto;
    background-color: $secondary;
}

.blockchain-header{
    height: auto;
    display: flex;
    justify-content:stretch;
    align-items: center;
}

.xln-team{
    background-color: $info;
    color: $primary;
}

.team-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;   
 margin: 3em 0;
}


.xln-app-marketplace{
    height: auto;
    justify-content: center;
    align-content: space-between;
}

.app-marketplace-header{

}

.app-marketplace-icons{
    height: 200px;
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

.app-marketplace-form{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    text-align: justify;
    text-justify: inter-word;
}

.xln-mission{

}

.mission-phase{
 padding: 0 5em;
}

.xln-contact-us{

}



@media only screen and (max-width: 900px) {

    .cta-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100vw;
    }

    .cta-image{
       width: 100vw;
    }
    
}

@media only screen and (max-width: 727px) {
    .team-container{
        justify-content: center;
    }

    .cta-image{
        width: 100vw;
        overflow-x: scroll;
    }
}