.form-control-container{
    margin-bottom: 5px;
    padding: 0;
    line-height: 2.5em;
}

.form-control input{
width: 90%;
height: 50px;
border-radius: 8px;
border: 1px solid #ccc;
padding: 0 10px;
 margin: 0;
}